<h1 style='color: pink; font-weight: bold; text-align: center;'>Salary Predictor</h1>

<p style='text-align: center;'> This notebook aims to store the code of a simple linear regression - where predicts the salary based on the years of experience. The dataset was provided by Allena on Kaggle.. </p>

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

uri = './data/salary_dataset.csv'

df = pd.read_csv(uri)

df.head()

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0